@import '@legacy-ui/styles/base.css';
@import '@ui/styles/base.css';

body {
  color: var(--page--text-color);
  background-color: var(--page--background-color);
}

/* || UTILITIES */
.width--full {
  width: 100%;
}

.height--full {
  height: 100%;
}

.vertical-align-middle {
  vertical-align: middle;
}
