@import './layout.css';
@import './typography.css';

@import './theme-default.css';
@import './theme-dark.css';
@import './theme-chad.css';

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.nowrap {
    white-space: nowrap;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}
