body,
body.theme-default {
  /* ------ Colors  ------ */
  --primary-100: hsla(230, 60%, 29%, 1);
  --primary-200: hsla(228, 63%, 36%, 1);
  --primary-300: hsla(226, 65%, 43%, 1);
  --primary-400: hsla(225, 90%, 57%, 1);
  --primary-400a10: color-mix(in srgb, var(--primary-400) 10%, transparent);
  --primary-400a20: color-mix(in srgb, var(--primary-400) 20%, transparent);
  --primary-400a50: color-mix(in srgb, var(--primary-400) 50%, transparent);
  --primary-400a90: color-mix(in srgb, var(--primary-400) 90%, transparent);
  --primary-400l10: var(--primary-400);
  --primary-500: hsla(225, 81%, 73%, 1);
  --primary-600: hsla(224, 71%, 81%, 1);
  --primary-700: hsla(227, 47%, 89%, 1);

  --primary_darkBg-400: hsl(220, 98%, 54%);

  --gray-100: hsla(45, 7%, 9%, 1);
  --gray-200: hsla(60, 7%, 11%, 1);
  --gray-300: hsla(33, 7%, 33%, 1);
  --gray-400: hsla(34, 6%, 43%, 1);
  --gray-400a20: color-mix(in srgb, var(--gray-400) 20%, transparent);
  --gray-500: hsla(35, 8%, 55%, 1);
  --gray-500a20: color-mix(in srgb, var(--gray-500) 20%, transparent);
  --gray-500a25: color-mix(in srgb, var(--gray-500) 25%, transparent);
  --gray-550: hsl(24, 10%, 90%);
  --gray-600: hsl(24, 10%, 90%);
  --gray-700: hsla(0, 6.7%, 97.1%, 1);

  --orange-200: hsla(40, 100%, 77%, 1);
  --orange-400: hsla(31, 100%, 48%, 1);

  --black: hsla(45, 7%, 9%, 1);
  --blacka05: color-mix(in srgb, var(--black) 5%, transparent);
  --blacka10: color-mix(in srgb, var(--black) 10%, transparent);
  --blacka25: color-mix(in srgb, var(--black) 25%, transparent);
  --blacka80: color-mix(in srgb, var(--black) 80%, transparent);
  --blackl01: hsla(48, 7%, 14%, 1);
  --blackl05: hsla(40, 7%, 18%, 1);
  --blackl10: hsla(34, 6%, 22%, 1);
  --blackl20: hsla(33, 7%, 27%, 1);
  --blackl30: hsla(34, 6%, 43%, 1);
  --white: hsla(0, 7%, 99%, 1);
  --whitea10: color-mix(in srgb, var(--white) 10%, transparent);
  --whitea20: color-mix(in srgb, var(--white) 20%, transparent);
  --whitea30: color-mix(in srgb, var(--white) 30%, transparent);
  --whitea60: color-mix(in srgb, var(--white) 60%, transparent);
  --whitel05: hsla(0, 7%, 98%, 1);
  --whitel62: hsla(24, 9%, 90%, 1);
  --whitel72: hsla(20, 8%, 93%, 1);
  --whitel85: hsl(0, 0%, 85%);
  --whitel92: hsla(15, 9%, 96%, 1);
  --whitel98: hsla(0, 7%, 97%, 1);

  --danger-400: hsla(357, 85%, 54%, 1);
  --danger_darkBg-400: hsla(357, 85%, 54%, 1);
  --danger-600: hsl(357, 81%, 91%);

  --success-400: hsla(149, 65%, 44%, 1);
  --success-600: hsla(145, 69%, 80%, 1);

  --warning-400: var(--orange-400);
  --warning-text-400: var(--orange-200);

  --info-400: var(--primary-500);

  /* ------ Global ------ */
  --page--text-color: var(--text-400);
  --page--background-color: #f0edeb;
  --page--header--background-color: var(--white);

  --layout--home--background-color: var(--whitel98);

  --font-weight--bold: var(--bold);
  --font-weight--semi-bold: var(--semi-bold);
  --font-weight--normal: var(--normal);

  --active--background-color: var(--gray-400a20);
  --active--border-color: var(--primary-400);
  --active_filled--color: var(--white);
  --active_filled--background-color: var(--primary-400);

  --border-400: var(--gray-500);
  --border-600: var(--gray-500a25);
  --focus: var(--primary-400);
  --link-400: var(--primary-400);
  --text-400: var(--black);
  --text-600: var(--gray-700);
  --text_dark_background-400: var(--text-400);

  /* ------ Components  ------ */
  /* Box */
  --box--primary--color: var(--text-400);
  --box--primary--background-color: hsl(257, 100%, 50%); /*unused*/
  --box--primary--background: var(--gray-700);
  --box--primary--shadow-color: var(--blackl20);
  --box--primary--content--background-color: hsl(0, 0%, 105%);
  --box--primary--content--shadow-color: var(--primary-400);
  --button--border-color: transparent;
  --box_header--border: 3px solid var(--border-400);
  --box_header--primary--background-color: var(--whitel85);
  --box_header--font-size: var(--font-size-4);
  --box_header--font-weight: var(--bold);
  --box_header--secondary--background-color: var(--gray-500a20);
  --box--secondary--background-color: var(--layout--home--background-color);
  --box--secondary--border: 1px solid var(--border-600);
  --box--secondary--content--background-color: var(--border-600);
  --box_action--button--font-size: var(--font-size-4);
  --box_action--button--text-transform: initial;
  --box_action--button--loading--color: var(--primary-500);
  --box_action--button--loading--background-color: var(--primary-300);
  --box_action--button--loading--shadow-color: var(--primary-200);
  --box-navigation-background: var(--box--primary--background);

  /* Buttons */
  --button--color: var(--primary-700);
  --button--background-color: var(--primary-400);
  --button--disabled--color: var(--gray-400);
  --button--disabled--border-color: var(--gray-500);
  --button--disabled--background-color: var(--gray-500);
  --button--disabled_spinner--background-color: var(--gray-500a20);
  --button--font: var(--font);
  --button--font-size: inherit;
  --button--font-weight: var(--bold);
  --button--shadow-color: var(--primary-200);
  --button--text-transform: initial;
  --button_filled--active--background-color: var(--white);
  --button_filled--hover--background-color: var(--primary-300);
  --button_filled-hover-contrast--background-color: var(--primary-300);
  --button_outlined--color: var(--text-400);
  --button_outlined--border-color: var(--border-400);
  --button_outlined--hover--color: var(--primary-400);
  --button_outlined--hover--background-color: var(--primary-400a10);
  --button_outlined_darkbg--hover--color: var(--primary-400);
  --button_outlined_darkbg--hover--background-color: var(--primary-400a10);
  --button_icon--hover--color: var(--primary-400);
  --button_icon--hover--background-color: var(--primary-400a10);
  --button_text--color: var(--primary-400);
  --button-text-contrast--color: var(--primary-700);
  --button_text--hover--color: var(--primary-400);
  --button_text_darkbg--hover--color: var(--primary-400);
  --button_text_darkbg--color: var(--primary-400);
  --box_action--button--text-transform: capitalize;

  /*  Health Mode  */
  --health_mode_--color: var(--gray-400);
  --health_mode__darkBg--color: inherit;
  --health_mode_healthy--color: var(--success-400);
  --health_mode_healthy_darkBg--color: var(--success-400);
  --health_mode_close_to_liquidation--color: var(--warning-text-400);
  --health_mode_close_to_liquidation_darkBg--color: var(--warning-text-400);
  --health_mode_soft_liquidation--color: var(--orange-400);
  --health_mode_soft_liquidation_darkBg--color: var(--orange-400);
  --health_mode_hard_liquidation--color: var(--danger-400);
  --health_mode_hard_liquidation_darkBg--color: var(--danger_darkBg-400);

  /* Chart */
  --chart_axis--color: var(--blackl20);
  --chart_axis_darkBg--color: var(--blackl20);
  --chart_brush_background-color: var(--white);
  --chart_label_darkBg--color: var(--blackl20);
  --chart_label--color: var(--blackl20);
  --chart_reference_line_darkBg--color: var(--black);
  --chart_reference_line--color: var(--black);

  --chart_collateral--color: var(--gray-500);
  --chart_stablecoin--color: var(--gray-300);

  --chart_active_healthy--color: var(--success-400);
  --chart_active_healthy_darkBg--color: var(--success-400);
  --chart_active_close_to_liquidation--color: var(--orange-400);
  --chart_active_close_to_liquidation_darkBg--color: var(--orange-400);
  --chart_active_unhealthy--color: var(--danger-400);
  --chart_active_unhealthy_darkBg--color: var(--danger-400);

  /* Checkbox */
  --checkbox--active--background-color: var(--primary-400);
  --checkbox--background-color: var(--white);
  --checkbox--border-color: var(--border-400);

  /* Chip */
  --chip--color: var(--text-400);

  /* Dialog */
  --dialog--background-color: var(--page--background-color);
  --dialog--border-color: var(--border-400);

  /* Dropdown */
  --dropdown--active--color: var(--white);
  --dropdown--active--background-color: var(--primary-400);
  --dropdown--color: var(--text-400);
  --dropdown--background-color: var(--white);
  --dropdown--hover--color: var(--text-400);
  --dropdown--hover--background-color: var(--primary-400a10);
  --dropdown_button--color: var(--text-400);

  /* Footer */
  --footer--color: var(--gray-500);
  --footer--background-color: var(--gray-300);
  --footer--hover-color: var(--gray-600);

  /* Input */
  --input--color: var(--text-400);
  --input--background-color: var(--white);
  --input--border: 1px solid var(--gray-300);
  --input--border-color: var(--gray-300);
  --input--disabled--color: var(--gray-400);
  --input--disabled--background-color: var(--gray-200);
  --input--font-size: var(--font-size-4);
  --input_button--color: var(--gray-300);
  --input_button--border-color: var(--whitel85);
  --input_button--hover--color: var(--text-400);
  --input_button--hover--background-color: var(--whitel05);
  --input_button--font-size: var(--font-size-4);
  --input_button--text-transform: initial;

  /* Link */
  --link--color: var(--link-400);
  --link--active-color: var(--primary-400);
  --link--active--background-color: var(--primary-400a10);
  --link--font: var(--font);
  --link--font-weight: var(--semi-bold);
  --link--hover--color: var(--primary-400);
  --link--underline--color: var(--primary-400a20);
  --link--underline--hover-color: var(--primary-400);
  --link_contained--color: var(--primary-400);
  --link_contained--background-color: var(--primary-400a10);
  --link_contained--underline-color: var(--primary-400);
  --link_light--color: var(--whitel72);
  --link_light--hover--color: var(--white);
  --link_box--color: var(--text-400);
  --link_box--background-color: var(--white);
  --link_box-alternate--background-color: var(--white);
  --link_box--border-color: var(--border-600);

  /* Nav */
  --nav--color: var(--text-400);
  --nav--border-color: var(--border-400);
  --nav--page--color: var(--white);
  --nav_button--border-color: var(--gray-500);
  --nav_button--hover--color: var(--primary-400);
  --nav_link--active--hover--color: var(--primary-400);
  --nav_link--active--hover--background-color: var(--primary-400a10);
  --nav_link--hover--color: var(--primary-400);
  --nav_link--hover--background-color: var(--primary-400a10);
  --nav_logo--color: var(--text-400);

  /* Popover */
  --popover--background-color: var(--white);
  --popover--border-color: var(--border-400);
  --popover--box-shadow: 3px 3px 0 var(--blacka25);
  --popover-button--background-color: transparent;

  /* Radio */
  --radio--active--border-color: var(--primary-400);
  --radio--background-color: var(--white);
  --radio--border-color: var(--border-400);
  --radio--selected--border-color: var(--primary-400);
  --radio--selected--background-color: var(--primary-400);

  /* Slider */
  --slider--background-color: linear-gradient(to right, var(--whitel85) 0%, var(--whitel85) 100%);

  /* Skeleton */
  /* input background color l - 5 */
  --skeleton--background-color: hsl(0, 0%, 85%);
  --skeleton--background-image: linear-gradient(
    90deg,
    hsl(0, 0%, 95%, 10%),
    hsl(0, 0%, 95%, 20%),
    hsl(0, 0%, 95%, 30%),
    hsl(0, 0%, 95%, 10%)
  );
  --skeleton_light--background-color: var(--skeleton--background-color);
  --skeleton_light--background-image: var(--skeleton--background-image);

  /* Spinner */
  --spinner--foreground-color: var(--white);
  --spinner--background-color: var(--primary-400a50);

  /* Summary */
  --summary_header--background-color: var(--gray-600);
  --summary_header--loading--background-color: var(--gray-500);
  --summary_header--border-color: var(--gray-500);
  --summary_content--background-color: var(--gray-600);
  --summary_content--loading--background-color: var(--gray-500a20);
  --summary_content--border-color: var(--gray-500a20);

  /* Switch */
  /* border-400 with opacity */
  --switch--background-color: var(--border-400);
  --switch--box-shadow: var(--gray-100);
  --swtich--border-color: var(--border-400);
  --switch-thumb--background-color: var(--white);
  --switch--active--background-color: var(--primary-400);
  --switch--active--darkBg-background-color: var(--primary-400);

  /* Tab */
  --tab--color: var(--text-400);
  --tab--content--background-color: var(--box--primary--background);
  --tab--content--hover--background-color: var(--gray-100);
  --tab--content--hover-color: var(--gray-700);
  --tab--border-color: var(--border-400);
  --tab_secondary--color: var(--blackl30);
  --tab_secondary--active--color: var(--page--text-color);
  --tab-secondary--background-color: var(--white);
  --tab-secondary--content--background-color: var(--white);
  --tab_secondary--hover--background-color: var(--box--primary--background);

  /* Table */
  --table--background-color: var(--white);
  --table_box_loader--background-color: var(--whitea60);
  --table_detail--background-color: var(--blacka05);
  --table_detail_row--active--color: var(--text-400);
  --table_detail_row--active--background-color: var(--border-400);
  --table_row--hover--color: var(--border-600);
  --table_head--font: var(--font);
  --table_head--font-weight: var(--bold);
  --table_head--background-color: var(--gray-600);

  /* Tooltip */
  --tooltip--color: var(--white);
  --tooltip--border-color: var(--border-400);
  --tooltip--background-color: var(--black);

  /* Charts */
  --chart-green: #1fa25e;
  --chart-red: #ed242f;
  --chart-label: #9b7dff;
  --chart-volume-green: #26a6997e;
  --chart-volume-red: #b0151f;
  --chart-oracle-price-line: #3162f4;
  --chart-liq-range: #ffc300;
  --chart-liq-range-a25: #ea920e25;
  --chart-liq-range-old: #bababa;
  --chart-liq-range-a25-old: #aaaaaa25;
}
