body.theme-dark {
  /* ------ Colors  ------ */
  --primary-100: hsla(230, 60%, 29%, 1);
  --primary-200: hsla(228, 63%, 36%, 1);
  --primary-300: hsla(226, 65%, 43%, 1);
  --primary-400: hsla(225, 90%, 57%, 1);
  --primary-400a10: color-mix(in srgb, var(--primary-400) 10%, transparent);
  --primary-400a20: color-mix(in srgb, var(--primary-400) 20%, transparent);
  --primary-400a30: color-mix(in srgb, var(--primary-400) 30%, transparent);
  --primary-400a50: color-mix(in srgb, var(--primary-400) 50%, transparent);
  --primary-400l59: hsl(220, 98%, 59%);
  --primary-500: hsla(225, 81%, 73%, 1);
  --primary-500l61: hsl(220, 99%, 61%);
  --primary-600: hsla(224, 71%, 81%, 1);
  --primary-700: hsla(227, 47%, 89%, 1);

  --black-100: hsla(45, 7%, 9%, 1);
  --black-200: hsla(45, 7%, 11%, 1);
  --black-300: hsla(48, 7%, 14%, 1);
  --black-400: hsla(34, 6%, 22%, 1);
  --black-500: hsla(33, 7%, 27%, 1);
  --black-600: hsla(34, 6%, 43%, 1);
  --black-700: hsla(33, 8%, 55%, 1);
  --black-800: hsla(35, 8%, 71%, 1);
  --black-900: hsla(30, 9%, 82%, 1);

  --gray-100: hsla(45, 7%, 9%, 1);
  --gray-300: hsla(40, 7%, 18%, 1);
  --gray-500: hsla(35, 8%, 71%, 1);
  --gray-600: hsla(20, 8%, 93%, 1);
  --gray-700: hsla(0, 7%, 99%, 1);

  --orange-200: hsla(40, 100%, 77%, 1);
  --orange-400: hsla(31, 100%, 48%, 1);
  --danger_darkBg-400: hsla(31, 100%, 48%, 1);

  --warning-text-400: var(--orange-400);

  --success-400: hsla(149, 65%, 44%, 1);

  --info-400: var(--primary-200);

  /* ------ Global ------ */
  --page--text-color: var(--text-400);
  --page--background-color: #12110f;
  --page--header--background-color: var(--black);

  --layout--home--background-color: var(--page--background-color);

  --active--background-color: var(--primary-400);
  --active--border-color: var(--primary-400);

  --border-400: var(--gray-300);
  --border-600: var(--black-400);
  --focus: var(--primary-400);
  --link-400: var(--primary-400);
  --text-400: var(--gray-700);
  --text-600: var(--gray-100);
  --text_dark_background-400: var(--gray-700);

  /* ------ Components  ------ */
  /* Box */
  --box--primary--color: var(--text-400);
  --box--primary--background-color: var(--black-400);
  --box--primary--background: var(--black-200);
  --box--primary--shadow-color: var(--black-100);
  --box--primary--content--background-color: var(--black-400);
  --box--primary--content--shadow-color: var(--black-100);
  --box_header--primary--background-color: var(--black-100);
  --box--secondary--background-color: var(--black-200);
  --box--secondary--border: 1px solid transparent;
  --box--secondary--content--background-color: var(--black-300);

  /* Buttons */
  --button--disabled--background-color: var(--black-600);
  --button--disabled--border-color: var(--black-500);
  --button--disabled--color: var(--black-700);
  --button_outlined--hover--background-color: var(--primary-400a20);

  /* Chart */
  --chart_axis--color: var(--gray-400);
  --chart_axis_darkBg--color: var(--gray-400);
  --chart_brush_background-color: var(--gray-300);
  --chart_label--color: var(--gray-700);
  --chart_label_darkBg--color: var(--white);
  --chart_reference_line_darkBg--color: var(--white);
  --chart_reference_line--color: var(--white);

  --chart_collateral--color: var(--black-900);
  --chart_stablecoin--color: var(--black-800);

  /* Checkbox */
  --checkbox--background-color: var(--blackl30);
  --checkbox--border-color: var(--black-500);

  /* Dialog */
  --dialog--background-color: var(--black-300);
  --dialog--border-color: var(--border-600);

  /* Dropdown */
  --dropdown--background-color: var(--page--background-color);
  --dropdown--hover--color: var(--text-400);
  --dropdown--hover--background-color: var(--primary-400a30);

  /* Footer */
  --footer--color: hsl(240, 3%, 46%);
  --footer--background-color: var(--blackl05);
  --footer--hover-color: var(--gray-600);

  /* Input */
  --input--color: var(--text-400);
  --input--background-color: var(--black-500);
  --input--border-color: var(--black-200);
  --input_button--color: var(--whitel72);
  --input_button--border-color: var(--black-300);
  --input_button--hover--background-color: --black-500;

  /* Link */
  --link_box--background-color: var(--black-200);
  --link_box-alternate--background-color: var(--black-200);

  /* Popover */
  --popover--background-color: var(--black);

  /* Radio */
  --radio--border-color: var(--black-700);

  /* Skeleton */
  --skeleton--background-color: hsl(240, 5%, 18%);
  --skeleton--background-image: linear-gradient(
    90deg,
    hsl(240, 9%, 28%, 10%),
    hsl(240, 9%, 28%, 20%),
    hsl(240, 9%, 28%, 30%),
    hsl(240, 9%, 28%, 10%)
  );
  --skeleton_light--background-image: linear-gradient(
    90deg,
    hsl(0, 0%, 45%, 10%),
    hsl(0, 0%, 45%, 20%),
    hsl(0, 0%, 45%, 30%),
    hsl(0, 0%, 45%, 10%)
  );

  /* Spinner */
  --spinner--background-color: var(--gray-600);

  /* Summary */
  --summary_header--background-color: var(--black-300);
  --summary_header--loading--background-color: var(--black-200);
  --summary_header--border-color: var(--black-500);
  --summary_content--background-color: var(--black-100);
  --summary_content--loading--background-color: var(--black-200);
  --summary_content--border-color: var(--black-600);

  /* Tab */
  --tab--content--background-color: var(--gray-200);
  --box--primary--background: var(--black-200);
  --tab--content--hover--background-color: var(--gray-700);
  --tab--content--hover-color: var(--gray-100);

  --tab--border: 3px solid var(--black-300);
  --tab_secondary--color: var(--gray-500);
  --tab-secondary--content--background-color: var(--box--primary--background);
  --tab-secondary--background-color: var(--box--primary--background);
  --tabs-secondary--background-color: hsl(240, 100%, 50%);

  /* Table */
  --table--background-color: var(--black-200);
  --table_detail_row--active--background-color: var(--black-300);
  --table_box_loader--background-color: var(--black-300);
  --table_row--hover--color: var(--whitea10);
  --table_head--background-color: var(--gray-300);

  /* Tooltip */
  --tooltip--background-color: var(--black-100);
}
