body.theme-chad {
  /* ------ Colors  ------ */
  --primary-100: hsla(247, 42%, 27%, 1);
  --primary-100a90: hsl(248, 52%, 8%, 90%);
  --primary-200: hsla(246, 42%, 36%, 1);
  --primary-300: hsla(245, 38%, 42%, 1);
  --primary-400: #dbd9f7;
  --primary-400a10: color-mix(in srgb, var(--primary-400) 10%, transparent);
  --primary-400a20: color-mix(in srgb, var(--primary-400) 20%, transparent);
  --primary-400a50: color-mix(in srgb, var(--primary-400) 50%, transparent);
  --primary-400l10: var(--primary-400);
  --primary-500: hsla(242, 56%, 74%, 1);
  --primary-600: hsla(242, 65%, 81%, 1);
  --primary-600l10: var(--primary-600);
  --primary-700: hsla(243, 64%, 86%, 1);
  --primary_darkBg-400: hsla(244, 65%, 91%, 1);

  --danger-400: hsla(357, 85%, 54%, 1);
  --danger_darkBg-400: hsla(31, 100%, 48%, 1);
  --danger-600: hsl(357, 81%, 91%);

  /* ------ Global ------ */
  --page--text-color: var(--text-600);
  --page--background-color: #bdbbec;
  --page--header--background-color: var(--page--background-color);

  --layout--home--background-color: var(--white);

  --active--background-color: var(--primary-100);
  --active--border-color: var(--primary-100);
  --active_filled--background-color: var(--black);

  --border-400: var(--gray-100);
  --border-600: var(--gray-600);
  --focus: var(--primary-400);
  --link-400: hsl(220, 98%, 57%);
  --text-400: var(--white);
  --text-600: var(--black);
  --text_dark_background-400: var(--white);

  /* ------ Components  ------ */
  /* Box */
  --box--primary--color: var(--text-700);
  --box--primary--background-color: var(--gray-600);
  --box--primary--background: var(--box--primary--background-color);
  --box--primary--shadow-color: var(--gray-300);
  --box--primary--content--background-color: var(--gray-600);
  --box--primary--content--shadow-color: var(--primary-500);
  --box_header--primary--background-color: var(--primary-200);
  --box_header--primary--color: var(--white);
  --box--secondary--background-color: var(--gray-700);
  --box--secondary--border: 0 solid var(--white);
  --box_action--button--font-size: var(--font-size-3);
  --box-navigation-background: var(--primary-400);

  /* Buttons */
  --button--color: var(--text-600);
  --button--background-color: var(--primary-700);
  --button--shadow-color: var(--text-600);
  --button--text-transform: uppercase;
  --button_filled--hover--background-color: var(--primary_darkBg-400);
  --button_filled-hover-contrast--background-color: var(--primary-100a90);
  --button_outlined--color: var(--text-600);
  --button_outlined--border-color: var(--gray-500);
  --button_outlined--hover--color: var(--text-600);
  --button_outlined_darkbg--hover--color: var(--white);
  --button_outlined_darkbg--hover--background-color: var(--whitea10);
  --button_outlined--hover--background-color: var(--primary-400a10);
  --button_text_darkbg--hover--color: var(--white);
  --button_text_darkbg--color: var(--white);
  --button_text--color: var(--primary-500);

  /*  Health Mode  */
  --health_mode_--color: var(--gray-500);
  --health_mode_unhealthy--color: var(--danger-400);

  /* Chart */
  --chart_axis--color: var(--gray-300);
  --chart_axis_darkBg--color: var(--gray-200);
  --chart_label_darkBg--color: var(--black);
  --chart_label--color: var(--blackl20);
  --chart_reference_line_darkBg--color: var(--primary-300);

  --chart_collateral--color: var(--gray-500);
  --chart_stablecoin--color: var(--gray-400);

  /* Checkbox */
  --checkbox--active--background-color: var(--black);
  --checkbox--border-color: var(--border-400);

  /* Dropdown */
  --dropdown--active--color: var(--white);
  --dropdown--active--background-color: var(--black);
  --dropdown--color: var(--text-600);
  --dropdown--background-color: var(--page--background-color);
  --dropdown--hover--color: var(--text-600);
  --dropdown--hover--background-color: var(--primary-400a20);
  --dropdown_button--color: var(--text-600);

  /* Footer */
  --footer--color: var(--gray-600);
  --footer--background-color: var(--gray-400);

  /* Input */
  --input--color: var(--text-600);
  --input--disabled--background-color: var(--primary-700);
  --input_button--color: var(--blackl30);
  --input_button--font-size: var(--font-size-3);
  --input_button--hover--color: var(--text-600);

  /* Link */
  --link_box--color: var(--text-600);
  --link_box-alternate--background-color: var(--primary-600);

  /*  Health Mode  */
  --dialog--background-color: var(--box--primary--content--background-color);

  /* Nav */
  --nav--color: var(--text-600);
  --nav--border-color: var(--gray-500);
  --nav_button--hover--color: var(--text-600);
  --nav_link--active--hover--color: var(--text-400);
  --nav_link--active--hover--background-color: var(--black);
  --nav_link--hover--color: var(--text-600);
  --nav_link--hover--background-color: var(--primary-400a20);
  --nav_logo--color: var(--text-600);

  /* Radio */
  --radio--border-color: var(--text-600);
  --radio--selected--background-color: var(--black);

  /* Skeleton */
  --skeleton--background-color: var(--primary-400);
  --skeleton--background-image: linear-gradient(
    90deg,
    hsl(248, 51%, 60%, 10%),
    hsl(248, 51%, 60%, 20%),
    hsl(248, 51%, 60%, 30%),
    hsl(248, 51%, 60%, 10%)
  );
  --skeleton_light--background-color: hsl(0, 0%, 85%);
  --skeleton_light--background-image: linear-gradient(
    90deg,
    hsl(0, 0%, 95%, 10%),
    hsl(0, 0%, 95%, 20%),
    hsl(0, 0%, 95%, 30%),
    hsl(0, 0%, 95%, 10%)
  );

  /* Summary */
  --summary_header--background-color: hsl(249, 10%, 86%);
  --summary_header--loading--background-color: hsl(249, 10%, 86%, 0.8);
  --summary_header--border-color: hsl(249, 10%, 76%);
  --summary_content--background-color: hsl(249, 10%, 96%);
  --summary_content--loading--background-color: hsla(49, 10%, 96%, 0.8);
  --summary_content--border-color: hsl(249, 10%, 86%);

  /* Switch */
  --switch--active--background-color: var(--primary-100);
  --switch--active--darkBg-background-color: var(--primary-100);

  /* Tab */
  --tab--color: var(--text-200);
  --tab--content--background-color: var(--gray-600);
  --tab--content--hover--background-color: var(--primary-300);

  --tab_secondary--color: var(--gray-700);
  --tab_secondary--active--color: var(--primary-100);
  --tab_secondary--hover--background-color: var(--primary-400a50);

  /* Table */
  --table_detail_row--active--color: var(--white);
  --table_row--hover--color: var(--primary-400a10);
  --table--background-color: var(--gray-600);
  --table_row--hover--color: var(--gray-700);
  --table_head--background-color: var(--gray-500);

  /* Tooltip */
  --tooltip--border-color: var(--border-600);
}
