body.theme-dark {
  /* ------ Colors  ------ */
  --primary-100: hsl(220, 73%, 5%);
  --primary-200: hsl(220, 73%, 22%);
  --primary-300: hsl(220, 74%, 31%);
  --primary-400: hsl(220, 98%, 54%);
  --primary-400a10: hsl(220, 98%, 54%, 10%);
  --primary-400a20: hsl(220, 98%, 54%, 20%);
  --primary-400a30: hsl(220, 98%, 54%, 30%);
  --primary-400a50: hsl(220, 98%, 54%, 50%);
  --primary-400l59: hsl(220, 98%, 59%);
  --primary-500: hsl(220, 99%, 71%);
  --primary-500l61: hsl(220, 99%, 61%);
  --primary-600: hsl(220, 100%, 91%);
  --primary-700: hsl(220, 100%, 99%);

  --black-100: hsl(240, 8%, 10%);
  --black-200: hsl(240, 6%, 13%);
  --black-300: hsl(240, 5%, 16%);
  --black-400: hsl(240, 4%, 20%);
  --black-500: hsl(240, 3%, 23%);
  --black-600: hsl(240, 3%, 26%);
  --black-700: hsl(240, 3%, 29%);
  --black-800: hsl(240, 3%, 33%);
  --black-900: hsl(240, 3%, 36%);

  --gray-100: hsl(220, 9%, 5%);
  --gray-300: hsl(220, 9%, 22%);
  --gray-500: hsl(220, 9%, 54%);
  --gray-600: hsl(220, 9%, 71%);
  --gray-700: hsl(220, 9%, 91%);

  --warning-text-400: hsl(47, 82%, 48%);

  --info-400: hsl(220, 50%, 32%);

  /* ------ Global ------ */
  --page--text-color: var(--text-400);
  --page--background-color: var(--black);

  --layout--home--background-color: hsl(220, 9%, 13%);

  --active--background-color: var(--primary-400);
  --active--border-color: var(--primary-400);

  --border-400: var(--gray-300);
  --border-600: var(--black-400);
  --focus: var(--primary-400);
  --link-400: hsl(220, 98%, 57%);
  --text-400: var(--gray-700);
  --text-600: var(--gray-100);
  --text_dark_background-400: var(--gray-700);

  /* ------ Components  ------ */
  /* Box */
  --box--primary--color: var(--text-400);
  --box--primary--background-color: var(--black-300);
  --box--primary--background: var(--black-300);
  --box--primary--shadow-color: hsl(240, 8%, 5%, 80%);
  --box--primary--content--background-color: var(--black-400);
  --box--primary--content--shadow-color: hsl(0, 0%, 12%);
  --box_header--primary--background-color: var(--black-200);
  --box_header--secondary--background-color: var(--black-100);
  --box--secondary--background-color: var(--black-200);
  --box--secondary--border: 1px solid transparent;
  --box--secondary--content--background-color: hsl(240, 6%, 10%);

  /* Buttons */
  --button--disabled--background-color: var(--black-600);
  --button--disabled--border-color: hsl(240, 3%, 29%);
  --button--disabled--color: hsl(0, 0%, 48%);
  --button_outlined--hover--background-color: var(--primary-400a20);

  /* Chart */
  --chart_axis--color: var(--gray-400);
  --chart_axis_darkBg--color: var(--gray-400);
  --chart_brush_background-color: var(--gray-300);
  --chart_label--color: var(--gray-700);
  --chart_label_darkBg--color: var(--white);
  --chart_reference_line_darkBg--color: var(--white);
  --chart_reference_line--color: var(--white);

  --chart_collateral--color: #9a9aa3;
  --chart_stablecoin--color: #5f5f69;

  /* Checkbox */
  --checkbox--background-color: var(--blackl30);
  --checkbox--border-color: var(--black-500);

  /* Dialog */
  --dialog--background-color: var(--black-300);
  --dialog--border-color: var(--border-600);

  /* Dropdown */
  --dropdown--background-color: var(--page--background-color);
  --dropdown--hover--color: var(--text-400);
  --dropdown--hover--background-color: var(--primary-400a30);

  /* Footer */
  --footer--color: hsl(240, 3%, 46%);
  --footer--background-color: var(--blackl05);
  --footer--hover-color: var(--gray-600);

  /* Input */
  --input--color: var(--text-400);
  --input--background-color: var(--black-500);
  --input--border-color: hsl(240, 3%, 13%);
  --input_button--color: var(--whitel72);
  --input_button--border-color: hsl(0, 0%, 13%);
  --input_button--hover--background-color: hsl(240, 3%, 26%);

  /* Link */
  --link_box--background-color: var(--black-200);
  --link_box-alternate--background-color: var(--black-200);

  /* Popover */
  --popover--background-color: var(--black);

  /* Radio */
  --radio--border-color: var(--black-700);

  /* Skeleton */
  --skeleton--background-color: hsl(240, 5%, 18%);
  --skeleton--background-image: linear-gradient(
    90deg,
    hsl(240, 9%, 28%, 10%),
    hsl(240, 9%, 28%, 20%),
    hsl(240, 9%, 28%, 30%),
    hsl(240, 9%, 28%, 10%)
  );
  --skeleton_light--background-image: linear-gradient(
    90deg,
    hsl(0, 0%, 45%, 10%),
    hsl(0, 0%, 45%, 20%),
    hsl(0, 0%, 45%, 30%),
    hsl(0, 0%, 45%, 10%)
  );

  /* Spinner */
  --spinner--background-color: var(--gray-600);

  /* Summary */
  --summary_header--background-color: hsl(240, 4%, 22%);
  --summary_header--loading--background-color: hsla(240, 4%, 22%, 0.8);
  --summary_header--border-color: hsl(240, 4%, 35%);
  --summary_content--background-color: var(--black-400);
  --summary_content--loading--background-color: hsla(240, 4%, 20%, 0.8);
  --summary_content--border-color: hsl(240, 4%, 35%);

  /* Tab */
  --tab--content--background-color: var(--black-300);
  --tab--border: 3px solid hsl(240, 5%, 19%);

  --tab_secondary--color: var(--gray-500);
  --tab-secondary--content--background-color: var(--box--primary--background);
  --tab-secondary--background-color: var(--box--primary--background);
  --tabs-secondary--background-color: hsl(240, 6%, 10%);

  /* Table */
  --table--background-color: var(--black-200);
  --table_detail_row--active--background-color: var(--black-300);
  --table_box_loader--background-color: var(--black-300);
  --table_row--hover--color: var(--whitea10);

  /* Tooltip */
  --tooltip--background-color: var(--black-100);
}
