body.theme-chad {
  /* ------ Colors  ------ */
  --primary-100: hsl(248, 52%, 8%);
  --primary-100a90: hsl(248, 52%, 8%, 90%);
  --primary-200: hsl(248, 51%, 13%);
  --primary-300: hsl(248, 51%, 27%);
  --primary-400: hsl(248, 51%, 44%);
  --primary-400a10: hsl(248, 51%, 44%, 10%);
  --primary-400a20: hsl(248, 51%, 44%, 20%);
  --primary-400a50: hsl(248, 51%, 44%, 50%);
  --primary-400l10: hsl(248, 51%, 34%);
  --primary-500: hsl(248, 51%, 68%);
  --primary-600: hsl(248, 52%, 86%);
  --primary-600l10: hsl(248, 52%, 96%);
  --primary-700: hsl(248, 52%, 93%);
  --primary_darkBg-400: hsl(248, 52%, 86%);

  --gray-100: hsl(248, 10%, 5%);
  --gray-100a25: hsl(248, 10%, 5%, 25%);
  --gray-100a30: hsl(248, 10%, 5%, 30%);
  --gray-200: hsl(248, 10%, 13%);
  --gray-300: hsl(248, 10%, 27%);
  --gray-400: hsl(248, 10%, 44%);
  --gray-400a25: hsl(248, 10%, 44%, 25%);
  --gray-500: hsl(248, 10%, 68%);
  --gray-500a20: hsl(248, 10%, 68%, 20%);
  --gray-500a25: hsl(248, 10%, 68%, 25%);
  --gray-600: hsl(248, 10%, 86%);
  --gray-700: hsl(248, 10%, 99%);

  --danger-400: hsl(0, 100%, 50%);
  --danger_darkBg-400: hsl(0, 100%, 82%);
  --danger-600: hsl(357, 84%, 91%);

  --success-400: hsl(117, 100%, 44%);
  --success-600: hsl(117, 100%, 93%);

  --warning-text-400: hsl(47, 92%, 38%);

  /* ------ Global ------ */
  --page--text-color: var(--text-600);
  --page--background-color: var(--primary-600);
  --page--header--background-color: var(--primary-700);

  --layout--home--background-color: var(--white);

  --active--background-color: var(--primary-100);
  --active--border-color: var(--primary-100);
  --active_filled--background-color: var(--black);

  --border-400: var(--gray-100);
  --border-600: var(--gray-600);
  --focus: var(--primary-400);
  --link-400: hsl(220, 98%, 57%);
  --text-400: var(--white);
  --text-600: var(--primary-100);
  --text_dark_background-400: var(--white);

  /* ------ Components  ------ */
  /* Box */
  --box--primary--color: var(--text-400);
  --box--primary--background-color: var(--primary-400);
  --box--primary--background: linear-gradient(var(--box--primary--background-color) 0%, var(--primary-400) 100%);
  --box--primary--shadow-color: var(--blacka25);
  --box--primary--content--background-color: hsl(248, 51%, 54%);
  --box--primary--content--shadow-color: hsl(248, 51%, 34%);
  --box_header--primary--background-color: var(--primary-300);
  --box--secondary--background-color: var(--white);
  --box--secondary--border: 0 solid var(--white);
  --box_action--button--font-size: var(--font-size-3);
  --box_action--button--text-transform: none;

  /* Buttons */
  --button--color: var(--text-600);
  --button--background-color: var(--primary-600);
  --button--font: var(--font-display);
  --button--font-size: small;
  --button--font-weight: var(--normal);
  --button--shadow-color: var(--text-600);
  --button--text-transform: uppercase;
  --button_filled--hover--background-color: var(--primary-600l10);
  --button_filled-hover-contrast--background-color: var(--primary-100a90);
  --button_outlined--color: var(--text-600);
  --button_outlined--border-color: var(--gray-500);
  --button_outlined--hover--color: var(--text-600);
  --button_outlined_darkbg--hover--color: var(--white);
  --button_outlined_darkbg--hover--background-color: var(--whitea10);
  --button_outlined--hover--background-color: var(--primary-400a10);
  --button_text_darkbg--hover--color: var(--white);
  --button_text_darkbg--color: var(--white);

  /*  Health Mode  */
  --health_mode_--color: var(--gray-500);
  --health_mode_unhealthy--color: var(--danger-400);

  /* Chart */
  --chart_axis--color: var(--gray-300);
  --chart_axis_darkBg--color: var(--primary-600);
  --chart_label_darkBg--color: var(--white);
  --chart_label--color: var(--blackl20);
  --chart_reference_line_darkBg--color: var(--white);

  --chart_collateral--color: var(--gray-500);
  --chart_stablecoin--color: var(--gray-400);

  /* Checkbox */
  --checkbox--active--background-color: var(--black);
  --checkbox--border-color: var(--border-400);

  /* Dropdown */
  --dropdown--active--color: var(--white);
  --dropdown--active--background-color: var(--black);
  --dropdown--color: var(--text-600);
  --dropdown--background-color: var(--page--background-color);
  --dropdown--hover--color: var(--text-600);
  --dropdown--hover--background-color: var(--primary-400a20);
  --dropdown_button--color: var(--text-600);

  /* Footer */
  --footer--color: var(--gray-600);
  --footer--background-color: var(--gray-400);

  /* Input */
  --input--color: var(--text-600);
  --input--disabled--background-color: hsl(248, 51%, 94%, 0.7);
  --input_button--color: var(--blackl30);
  --input_button--font-size: var(--font-size-3);
  --input_button--hover--color: var(--text-600);

  /* Link */
  --link_box--color: var(--text-600);
  --link_box-alternate--background-color: var(--primary-600);

  /* Nav */
  --nav--color: var(--text-600);
  --nav--border-color: var(--gray-500);
  --nav_button--hover--color: var(--text-600);
  --nav_link--active--hover--color: var(--text-400);
  --nav_link--active--hover--background-color: var(--black);
  --nav_link--hover--color: var(--text-600);
  --nav_link--hover--background-color: var(--primary-400a20);
  --nav_logo--color: var(--text-600);

  /* Radio */
  --radio--border-color: var(--text-600);
  --radio--selected--background-color: var(--black);

  /* Skeleton */
  --skeleton--background-color: hsl(248, 51%, 49%);
  --skeleton--background-image: linear-gradient(
    90deg,
    hsl(248, 51%, 60%, 10%),
    hsl(248, 51%, 60%, 20%),
    hsl(248, 51%, 60%, 30%),
    hsl(248, 51%, 60%, 10%)
  );
  --skeleton_light--background-color: hsl(0, 0%, 85%);
  --skeleton_light--background-image: linear-gradient(
    90deg,
    hsl(0, 0%, 95%, 10%),
    hsl(0, 0%, 95%, 20%),
    hsl(0, 0%, 95%, 30%),
    hsl(0, 0%, 95%, 10%)
  );

  /* Summary */
  --summary_header--background-color: hsl(249, 10%, 86%);
  --summary_header--loading--background-color: hsl(249, 10%, 86%, 0.8);
  --summary_header--border-color: hsl(249, 10%, 76%);
  --summary_content--background-color: hsl(249, 10%, 96%);
  --summary_content--loading--background-color: hsla(49, 10%, 96%, 0.8);
  --summary_content--border-color: hsl(249, 10%, 86%);

  /* Switch */
  --switch--active--background-color: hsl(248, 52%, 35%);
  --switch--active--darkBg-background-color: hsl(248, 71%, 72%);

  /* Tab */
  --tab--color: var(--text-400);
  --tab--content--background-color: var(--primary-400);

  --tab_secondary--color: var(--primary-600);
  --tab_secondary--active--color: var(--primary-100);
  --tab_secondary--hover--background-color: var(--primary-400a50);

  /* Table */
  --table_detail_row--active--color: var(--white);
  --table_row--hover--color: var(--primary-400a10);

  /* Tooltip */
  --tooltip--border-color: var(--border-600);
  /* Charts */
  --chart-green: #26a69a;
  --chart-red: #ef5350;
  --chart-label: #9b7dff;
}
