name: Prices API

on:
  push:
    tags:
      - prices-api/[0-9]+.[0-9]+.[0-9]+

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup NPM registry in Yarn
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: yarn
          registry-url: 'https://registry.npmjs.org'

      - name: Restore cache
        uses: ./.github/actions/restore-cache

      - name: 'Build and publish'
        working-directory: packages/prices-api
        run: |
          yarn config set npmRegistryServer "https://registry.npmjs.org"
          yarn config set npmAuthToken "${{ secrets.NPM_TOKEN }}"
          yarn install --immutable
          yarn build
          yarn npm publish --access public
