name: RPC Tests
on:
  workflow_dispatch:  # triggered manually
env:
  DO_NOT_TRACK: 1
  IBM_TELEMETRY_DISABLED: true
permissions:
  contents: read
jobs:
  cypress-component-rpc:
    name: Cypress component tests with RPC
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: yarn
      - name: Restore cache
        uses: ./.github/actions/restore-cache
      - run: yarn set version stable
      - run: yarn install --immutable

      - run: |
          set -o pipefail # fail tee if the main command fails
          yarn run cy:run:rpc --browser electron 2>&1 | tee ../rpc-cypress.log # rpc tests are expensive, stick to one browser
        working-directory: tests
        env:
          ELECTRON_ENABLE_LOGGING: true # Electron writes console to stdout
          NODE_ENV: test
          CYPRESS_TENDERLY_ACCOUNT_SLUG: ${{ vars.TENDERLY_ACCOUNT_SLUG }}
          CYPRESS_TENDERLY_PROJECT_SLUG: ${{ vars.TENDERLY_PROJECT_SLUG }}
          CYPRESS_TENDERLY_ACCESS_KEY: ${{ secrets.TENDERLY_ACCESS_KEY }}

      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: cypress-rpc
          path: tests/cypress/screenshots

      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: rpc-cypress-log
          path: rpc-cypress.log
          retention-days: 3
          if-no-files-found: error
